.mdl-card{
  width: 100%;
  background: #cde8ac;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 100px 20px;
  color: #474747;
  box-shadow: 1px 4px #ccc;

  h2, p, input{
    color: #474747;
  }

  a{
    color: #000058;
  }
}