.loader{
  position: absolute;
  left:0;
  top:0;
  bottom: -10px;
  right: -15px;
  background: #cde8ac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p{
    margin:10px;
  }
}